body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
}

.container {
    max-width: 400px;
    margin-top: 20px;
    margin-bottom: 20px; /* Adjust the margin-bottom as needed */
    padding: 20px;
    border: 3px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

h1 {
    text-align: center;
}

.registration-form {
    display: flex;
    flex-direction: column;
    gap: 4px;
    max-width: 200px;
    padding: 12px;
    border-radius: 10px;
    position: center;
    background-color: #36a5e5;
    color: #b96565;
    border: 1px solid #1f5ba5;
}

.flex {
    display: flex;
    width: 90%;
    gap: 6px;
}

.gender-container {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.gender-label {
    margin-right: 10px;
}

.submit-button {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    color: #369ddd;
    font-size: 16px;
    transform: .3s ease;
    background-color: #00bfff;
}

.submit-button:hover {
    background-color: #24596a96;
}
